<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crop Disease Detection</title>
  </head>
  <body>
    <h2>Upload Crop Video</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="video/*" required />
      <button type="submit">Upload</button>
    </form>

    {% if message %}
    <p style="color: green">{{ message }}</p>
    <video width="480" controls>
      <source src="{{ video_path }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- <h3>Extracted Frames:</h3>
    {% for frame in frames %}
    <img src="{{ frame }}" width="200" style="margin: 5px" />
    {% endfor %} {% endif %} -->

    <h3>Analysis Results:</h3>
    {% for result in results %}
    <div style="display: inline-block; margin: 5px">
      <img src="{{ result.frame }}" width="200" /><br />
      <b>{{ result.label }}</b>
    </div>
    {% endfor %}
  </body>
</html>
